.RequestRoot {
	color: #e2001a;
}

.StepDark {
	min-height: 100vh;
	background-color: #252627;
}

.StepLight {
	min-height: 100vh;
}

.ItemLeft,
.ItemRight {
	width: 100%;
	padding: 0.5em 1em;
}

.ItemLeft {
	align-self: center;
	text-align: center;
}

.ItemRight {
	align-self: flex-start;
}

.Rating {
	display: flex;
	justify-content: center;
}

@media (min-width: 600px) {
	.ItemLeft,
	.ItemRight {
		width: 50%;
		align-self: unset;
	}

	.ItemLeft div {
		text-align: right;
	}

	.StepDark,
	.StepLight {
		align-items: center;
	}
	.Rating {
		justify-content: flex-end;
	}
}
