.Header {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.AppBar {
	background-color: #e2001a;
}

.AppBar .NavItems {
	display: none;
}

.SideList {
	text-align: center;
	width: 250px;
	margin-top: 50px;
}
@media (min-width: 600px) {
	.SideDrawerIcon {
		display: none;
	}
	.AppBar .NavItems {
		display: inherit;
	}
}
