.Footer {
	width: 100%;
	height: auto;
	background-color: #252627;
	color: #e2001a;
	padding: 10% 48px;
}

.Footer1Row {
	padding-bottom: 16px;
	border-bottom: 1px solid #e2001a;
}

.Footer2Row {
	padding-top: 48px;
}

.Divider {
	margin: 16px 0;
}
